In [27]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

In [18]:
file_path = r'C:\Users\tolan\Downloads\Dataset (ATS)-1.csv'
dataset = pd.read_csv(file_path)

dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   gender           7043 non-null   object
 1   SeniorCitizen    7043 non-null   int64
 2   Dependents       7043 non-null   object
 3   tenure           7043 non-null   int64
 4   PhoneService     7043 non-null   object
 5   MultipleLines    7043 non-null   object
 6   InternetService  7043 non-null   object
 7   Contract         7043 non-null   object
 8   MonthlyCharges   7043 non-null   float64
 9   Churn            7043 non-null   object
dtypes: float64(1), int64(2), object(7)
memory usage: 550.4+ KB

In [22]:
missing_data = data.isnull().sum()
missing_data

data_cleaned = data.dropna().copy()

In [19]:
duplicates = dataset.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")

Number of duplicate rows: 103

In [5]:
data_cleaned = data.drop_duplicates()
print(f"Shape of the dataset after removing duplicates: {data_cleaned.shape}")

Shape of the dataset after removing duplicates: (6940, 10)

In [35]:
data['Dependents'] = data['Dependents'].fillna('No')
data['PhoneService'] = data['PhoneService'].fillna('No')
data['MultipleLines'] = data['MultipleLines'].fillna('No')
data['Churn'] = data['Churn'].fillna('No')

data_cleaned = data.copy()
data_cleaned['Dependents'] = data_cleaned['Dependents'].map({'Yes': 1, 'No': 0}).astype(int)
data_cleaned['PhoneService'] = data_cleaned['PhoneService'].map({'Yes': 1, 'No': 0}).astype(int)
data_cleaned['MultipleLines'] = data_cleaned['MultipleLines'].map({'Yes': 1, 'No': 0}).astype(int)
data_cleaned['Churn'] = data_cleaned['Churn'].map({'Yes': 1, 'No': 0}).astype(int)

data_cleaned = pd.get_dummies(data_cleaned, columns=['gender', 'InternetService', 'Contract'])


data_cleaned['SeniorCitizen'] = data_cleaned['SeniorCitizen'].astype(int)

data_cleaned['MonthlyCharges'] = pd.to_numeric(data_cleaned['MonthlyCharges'])

scaler = MinMaxScaler()
data_cleaned[['tenure', 'MonthlyCharges']] = scaler.fit_transform(data_cleaned[['tenure', 'MonthlyCharges']])

In [7]:
X = data_encoded.drop(columns=['Churn_Yes'])
y = data_encoded['Churn_Yes']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [8]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)
X_train_scaled[:5]

array([[-4.37749204e-01, -4.65683364e-01, -4.73723375e-04,
        -1.02516569e+00,  1.53218588e+00,  3.29573443e-01,
        -8.60523366e-01, -8.87056733e-01,  1.91010860e+00,
        -5.58352808e-01],
       [-4.37749204e-01,  8.85536787e-01,  1.07475386e+00,
        -1.02516569e+00, -6.52662324e-01,  3.29573443e-01,
         1.16208349e+00,  1.12732361e+00, -5.23530443e-01,
         1.79098231e+00],
       [-4.37749204e-01, -1.28460467e+00, -1.37649913e+00,
         9.75452077e-01, -6.52662324e-01, -3.03422506e+00,
        -8.60523366e-01, -8.87056733e-01, -5.23530443e-01,
        -5.58352808e-01],
       [-4.37749204e-01, -1.16176647e+00,  1.77345985e-01,
         9.75452077e-01, -6.52662324e-01,  3.29573443e-01,
        -8.60523366e-01,  1.12732361e+00, -5.23530443e-01,
        -5.58352808e-01],
       [-4.37749204e-01, -1.32555073e+00, -9.85238431e-02,
         9.75452077e-01,  1.53218588e+00,  3.29573443e-01,
         1.16208349e+00, -8.87056733e-01, -5.23530443e-01,
         1.79098231e+00]])

In [9]:
print(f"Training data shape: {X_train.shape}")
print(f"Testing data shape: {X_test.shape}")

Training data shape: (5634, 10)
Testing data shape: (1409, 10)

In [36]:
print("\nCleaned and Processed Data:")
display(data_cleaned.head())

Cleaned and Processed Data:

,SeniorCitizen,Dependents,tenure,PhoneService,MultipleLines,MonthlyCharges,Churn,gender_Female,gender_Male,InternetService_DSL,InternetService_Fiber optic,Contract_Month-to-month,Contract_One year,Contract_Two year
0,0,0,0.013889,0,0,0.115423,0,True,False,True,False,True,False,False
1,0,0,0.472222,1,0,0.385075,0,False,True,True,False,False,True,False
2,0,0,0.027778,1,0,0.354229,1,False,True,True,False,True,False,False
3,0,0,0.625000,0,0,0.239303,0,False,True,True,False,False,True,False
4,0,0,0.027778,1,0,0.521891,1,True,False,False,True,True,False,False

In [37]:
cleaned_file_path = 'processed_data.csv'
data_encoded.to_csv(cleaned_file_path, index=False)

In [39]:
import os
cleaned_file_path = 'processed_data.csv'